<!-- Footer -->
<footer id="page-footer">
    <section id="footer-top">
        <div class="container">
            <div class="footer-inner">

                <!-- Social -->
                <div class="footer-social">
                    <figure>Follow us:</figure>
                    <div class="icons">
                        <a href="//twitter.com/bedunews"><i class="fa fa-twitter" style="color:blue;"></i></a>
                        <a href="//www.facebook.com/bangaloreeducationdotcom"><i class="fa fa-facebook" style="color:blue;"></i></a>
                        <div class="fb-like"
                             data-href="//www.facebook.com/bangaloreeducationdotcom/"
                             data-layout="standard"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="false"></div>
                    </div>
                </div><!-- /.social -->


            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-top -->

    <section id="footer-bottom">
        <div class="container">
            <div class="footer-inner">
                <div class="copyright">
                    &copy; @DateTime.Now.Year BangaloreEducation.com, All rights reserved
                </div>
            </div>
        </div>
    </section><!-- /#footer-bottom -->
</footer>
<!-- end Footer -->

<!-- Scripts - load order matters: jQuery → Bootstrap → jQuery UI → site.js → page scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>window.$ = window.jQuery = jQuery;</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="/js/site.js"></script>
